:root {
    --main-blue: transparent;
}
#wp-smart-commerce-brand-logo {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    /* background-color: var(--main-blue); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px 1px hsla(60, 0%, 0%, 0.5);
    padding: 2rem;
}

#wp-smart-commerce-brand-logo img {
    text-align: center;
    height: 100px;
    margin: auto;
    display: block;
}

#login-form-wrapper {
    margin: 5rem auto;
    
    box-shadow: 0px 0px 5px 1px hsla(60, 0%, 0%, 0.5);
    width: 50%;
    font-size: 1.2em;
    font-family: sans-serif;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

#login-form {
    padding: 1em 0em;  
}

label {
    display: block;
    /* color: var(--main-blue); */
}

#login-form > div {
    margin: 2rem auto;
    width: 60%;
}

#login-form input {
    padding: 10px;
}

#login-form label {
    margin-bottom: 20px;
}


#login-form > div > *:not(input[type="submit"], button) {
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px;
    outline-color: var(--main-blue);
    /* padding: 10px; */
    /* color: var(--main-blue); */
}

/* #login-form > div input:not(input[type="submit"]){
    border: 2px solid var(--main-blue);
} */

#login-form > div input[type="submit"]{
    /* border: 2px solid var(--main-blue); */
    border-radius: 5px;
    display: block;
    font-size: 1.2em;
    /* background: var(--main-blue); */
    color: white;
    width: 20rem;
    margin: auto;
    padding: 10px; 
}

#login-btn{
    cursor: pointer;
}

#display_errors {
    color: red;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}

.password-container {
    position: relative;
}

.password-container input {
    font-size: 1.2em;
    border-radius: 5px;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#icon-button {
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0;
    z-index: 5;
    background-color: transparent;
    border: none;
    transform: translateY(calc(50% + 5px));
}